<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Mars News -->
    <div class="row">
      <div class="col-md-12">
        <div class="media">
          <div class="media-body">
            <h2><b>Mars News</b></h2>
            <h4 class="media-heading"><b>{{mars.title}}</b></h4>
            <h5></p>{{mars.paragraph}}</p></h5>
      </div>
    </div>

    <!-- Featured Image --> 
    <div class="row">
      <div class="col-md-8">
          <h2><b> Featured Mars Image</b></h2>
            <img src="{{mars.image_URL}}" class="img-responsive">       
      </div>
      
      <div class="col-md-4">
            <h2><b>Mars Facts</b></h2>
            {{mars.facts | safe }}
      </div>
    </div>

    hemisphere images
    <div class = "row">
      <div class = "col-md-12">
        <h2 class = "text-center"><b> Mars Hemispheres </b></h2>
      </div>
    </div>



</body>

</html>

